# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [766]:
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [796]:
x1 = pd.Series(np.random.randint(1, 5, size=100, dtype='l'))
x2 =  pd.Series(np.random.randint(1, 4, size=100, dtype='l'))
x3 =  pd.Series(np.random.randint(10000, 30000, size=100, dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [798]:
df=pd.concat([x1,x2,x3],axis=1)
df

    0  1      2
0   2  3  27760
1   1  1  19072
2   1  3  16652
3   4  2  26005
4   4  2  21889
.. .. ..    ...
95  3  1  13324
96  4  2  11845
97  4  2  16929
98  2  3  18576
99  2  2  24588

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [801]:
df.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [806]:
bigcolumn = pd.concat([x1,x2,x3],axis=0)
bigcolumn

0         2
1         1
2         1
3         4
4         4
      ...
95    13324
96    11845
97    16929
98    18576
99    24588
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [813]:
# yes
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [812]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

0          2
1          1
2          1
3          4
4          4
       ...
295    13324
296    11845
297    16929
298    18576
299    24588
Length: 300, dtype: int32