# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [3]:
# 1. sepal_length (in cm)
iris['sepal_length'] = iris['5.1']
# 2. sepal_width (in cm)
iris['sepal_width'] = iris['3.5']
# 3. petal_length (in cm)
iris['petal_length'] = iris['1.4']
# 4. petal_width (in cm)
iris['petal_width'] = iris['0.2']
# 5. class
iris['class'] = iris['Iris-setosa']
iris = iris.drop(['5.1',	'3.5'	,'1.4'	,'0.2',	'Iris-setosa'], axis=1)

In [4]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [9]:
# iris.isnull().count()
len(iris)- iris.count()
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
class            object
dtype: object

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [12]:
iris.loc[10:29, 'petal_length'] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [13]:
iris.petal_length = iris.petal_length.fillna(1.0)

### Step 8. Now let's delete the column class

In [15]:
del iris['class']

### Step 9.  Set the first 3 rows as NaN

In [17]:
iris.loc[:3] = np.nan

### Step 10.  Delete the rows that have NaN

In [18]:
iris.dropna()

     sepal_length  sepal_width  petal_length  petal_width
4             5.4          3.9           1.7          0.4
5             4.6          3.4           1.4          0.3
6             5.0          3.4           1.5          0.2
7             4.4          2.9           1.4          0.2
8             4.9          3.1           1.5          0.1
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[145 rows x 4 columns]

### Step 11. Reset the index so it begins with 0 again

In [19]:
iris.reset_index()

     index  sepal_length  sepal_width  petal_length  petal_width
0        0           NaN          NaN           NaN          NaN
1        1           NaN          NaN           NaN          NaN
2        2           NaN          NaN           NaN          NaN
3        3           NaN          NaN           NaN          NaN
4        4           5.4          3.9           1.7          0.4
..     ...           ...          ...           ...          ...
144    144           6.7          3.0           5.2          2.3
145    145           6.3          2.5           5.0          1.9
146    146           6.5          3.0           5.2          2.0
147    147           6.2          3.4           5.4          2.3
148    148           5.9          3.0           5.1          1.8

[149 rows x 5 columns]

### BONUS: Create your own question and answer it.